@import './variables';
@import './mixins';

// Reset Styles
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f5f7;
    color: #333;
    width: 100vw;
    height: 100vh;
}

// Utility Classes
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main_header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $dark-grey;
    padding: 20px 50px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 100px);
}

.four-o-one-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    gap: 50px;

    header {
        @include warning-header;

        h1 {
            color: $danger-color;
        }
    }

    .image {
        width: 300px;
        height: 300px;
        border: 1px solid $danger-color;
        border-radius: 50%;
    }

    .four-o-one-links {
        @include warning-links;
    }
}

.four-o-four-container {
    @include flex-center-col;
    gap: 50px;

    header {
        @include warning-header;

        h1 {
            color: $primary-color;
        }
    }

    .image {
        width: 400px;
        height: 400px;
    }

    .four-o-four-links {
        @include warning-links;
    }
}
